@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

h1,
h2,
h3 {
  font-family: var(--font-caps), Arial, Helvetica, sans-serif;
  letter-spacing: 0;
  line-height: 1.24 !important;
}

.font-caps {
  font-family: var(--font-caps), Arial, Helvetica, sans-serif;
  letter-spacing: 0;
  line-height: 1.2;
}

*{
    scroll-behavior: smooth;
}
